extends layout

block content
  h1= title
  p Welcome to #{title}

  p You need these digits?
  p NB: We give you 10 digits on a 10-digit boundary starting around #{startarg} (actually starting at #{startactual})
  p #{digits}
  p Simple phoneme mapping = #{phoneme}

  hr

  p Button for start scanning the CMU dictionary looking for substring digits

  
  
  form(action="/scandig/#{digits}", method="get")
    // input(type="hidden", readonly, name="somedigs", value ="#{digits}")
    input(type="submit", value="scan for words")    
    
  //- script(src="https://code.jquery.com/jquery-2.2.0.min.js")
  script(src="/javascripts/jquery-2.2.0.min.js")
  //- script(src="/javascripts/pi_cli.js")

  h2#results
