extends layout

block content
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/jquery.dataTables.min.js")
  h1= title
  p Scanning digits: #{digits}
  p Simple phoneme mapping = #{simple}
  p There are #{cmucount} words in the CMU dictionary
  if mode
    p Mode is set to #{mode}
    // TODO change button text and/or disable for various stages
    button#button1 Start Scan

  p
  
  script.
    var digits = "#{digits}";
    var minimum_cmu_digit_match = 2;
    
  script(src="/javascripts/procdigcmu.js")
      
  div#statusdiv
    p Status:-

  h2 Results:-

  script.
   $(document).ready(function() {  $('#results_table').DataTable(
       "serverSide": true,
       columns: [
            { title: "Word" }, 
            { title: "Phonemes"},
            { title: "Major"},
            { title: "Length"},
            { title: "Position"},
            { title: "CMU Index"},
            { title: "Mapping"},
        ],
   );  } );

  // would probably be better off tacking it onto the button press    $('#button1').click(getAndRenderData);

  table#results_table(class='display')
